.space {
background-color: red;
padding-top:  60px;
}
p {
}
/* This is a comment in CSS
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
*/
.wide{
   height: 200px;
    width: 100%;
}
.navbar {
padding: .8rem;
}
.nav-item {
padding-right: 20px;
font-size: 1.1em !important;
}
.carousel-inner img {
width: 100%;
height: 100%;

}
.bottom-section{
    background-color: darkgray;
    height: 450px;
}
body{
    font-family: 'Zen Dots', cursive;

}